body{
    font-family: "Roboto", sans-serif;
}
.header_main{
    background-image: url('background_image.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
}
.header_main-first{
    background-color: #fd6507c0;
    height: 550px;
    width: 50%;
    display: flex;
    z-index: 2;
}
.header_main-blue{
    background-color: aqua;
    height: 40px;
    width: 10px;
    margin: 40px 0px 0px 50px;
}
.header_main-head{
    margin-top: 60px;
    color: white;
    font-size: 40px;
}
.header_main-box{
    margin-top: 80px;
    border: 5px solid white;
    padding: 5px 145px 5px 10px;
}
.header_main-box-text{
    padding: 5px 10px 10px 25px;
    color: white;
    font-size: 25;
}
.header_main-box-text b{
    margin-left: 5px;
    font-weight: 2000;
    font-size: 35px;
}
.header_main-second{
    background-color: #dbb407cb;
    height: 250px;
    width:50%;
    left:-40px;
}
.header_second{
    margin-left: 55%;
}
.header_second-img{
    margin-top: 50px; 
    margin-left: 30px;
}
.header_second-text{
    color: white;
    width: 30px;
    margin: 5px 10px 0px 0px;
    left: -20px;
    font-size: 30px;
}
.header_second-text b{
    font-size: 15px;
}
.header_second-text a{
    margin-left: 65px;
    font-size: 20px;
}


.body_first{
    background-color: #7fd2e2;
    height: auto;
    width: auto;
    color: white;
    padding-top: 20px;
    padding-bottom: 30px;
}
.body_first-text{
    background-color: black;
    height: 30px;
    width: 50%;
    position: relative;
    margin: 30px 0px 0px 50px;
    padding: 15px 0px 20px 15px ;
    letter-spacing: 5px;
}
.body_first-text b{
    margin-left: 20px;
    font-size: 30px;
    padding: 20px 0px 300px 0px;
}
.body_second{
    display: flex;
}
.body_second-temp-text{
    background-color: black;
    height: 30px;
    width: 90%;
    margin: 40px 0px 0px 50px;
    padding: 15px 0px 20px 40px ;
    font-size: 30px;

}
.body_second-temp-tex b{
        margin-left: 20px;
        padding: 20px 0px 300px 0px;
}
.body_second-temp-flip-text{
    margin: 20px 15px 0px 10%;
    font-size: 25px;
    text-align: justify;
}



.footer_main{
    padding: 30px 0px 0px 50px;
}

.footer_main-first_headkine{
    color:#fd6507 ;
    font-weight: bolder;
    font-size: 30px;
}
.footer_main-second{
    display: flex;
}
.footer_main-first_text{
    margin: 10px 20px 0px 0px;
    text-align: justify;
}
.footer_main-second_flow-fir{
    margin-top: 20px;
    color:#7fd2e2 ;
    font-weight: bolder;
    font-size: 30px;
}
.footer_main-second_flow-text{
    margin-top: 10px;
    font-size: 13px;
    width: 90%;
    text-align: justify;
}
.footer_main-second_flow-address{
    background-color: #dbb407;
    height: 80px;
    width: 40%;
    padding: 40px 80px 50px 80px;
    margin-top: 15px;
}
.footer_main-second_flow-address-text{
    text-align: right;
    padding: 0px 20% 0px 20%;
    letter-spacing: 3px;
}